@charset "UTF-8";
/* кнопка подпишись на футере не работает наведение */
/* 
++ стандартный шрифт страницы Roboto 
++ шрифт лого Raleway
++ стандартный цвет ссылок и h2, h3  #212121; 
++ подсвеченный цвет ссылок, #2196F3;
++ цвет текста Герой #FFFFFF;
++ цвет стандартного текста и номера телефона #757575;
 */
/* Базовые настройки*/
:root {
  --links-text-color: #212121;
  --links-text-color-active: #2196f3;
  --h2-h4-text-color: #212121;
  --standart-text: #757575;
  --text-hero: #ffffff;
  --icon-color: #afb1b8;
  --icon-active-color: #ffffff;
  --icon-active-back-color: #2196f3;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*@import "./utils/mixins";*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*text*/
  font-family: 'Roboto', sans-serif;
  color: var(--standart-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

label {
  margin: 0;
}

.conteiner {
  display: block;
  max-width: 100%;
  height: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.hero .conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header .conteiner {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header .conteiner {
    height: 80px;
  }
}

.projects .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------  КНОПКИ -------------------*/
.button-all {
  /*display: inline-block;*/
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*text*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.hero .button-all {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.footer .button-all {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer .button-all {
    margin-left: 12px;
  }
}

.button-all-img {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

/* ------------ ЗАГОЛОВКИ -------------------*/
.titul-one {
  margin: 0 auto;
  max-width: 360px;
  /*text*/
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--text-hero);
}

@media screen and (min-width: 1200px) {
  .titul-one {
    font-size: 44px;
    line-height: 1.36;
    max-width: 700px;
  }
}

.projects .titul-one {
  display: none;
}

.titul-two {
  margin: 0;
  /*text*/
  color: var(--h2-h4-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features .titul-two {
  display: none;
}

.titul-three {
  margin: 0;
  /*text*/
  color: var(--h2-h4-text-color);
  font-weight: 700;
}

.features .titul-three {
  margin: 30px 0 10px;
  /*text*/
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}

/* -------------  ЛОГО -----------------*/
.logo {
  /*text*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo-text {
  color: #000000;
}

footer .logo-text {
  color: #ffffff;
}

/* ----- Кнопка закрытия модального окна -------------*/
.icon-x {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.icon-x svg {
  height: 11px;
  width: 11px;
}

.icon-x:hover svg,
.icon-x:focus svg {
  fill: var(--icon-active-back-color);
}

/* ---------- МОДАЛЬНОЕ ОКНО --------*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: visible;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.is-hidden {
  /* transform: scale(0, 0);  - вариант. слишком интенсивный */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 528px;
  }
}

.modal h2 {
  font-size: 20px;
  line-height: 1.15;
  color: var(--h2-h4-text-color);
  margin-bottom: 12px;
}

.modal-block {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
  /*шрифт*/
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--standart-text);
}

.modal-block input {
  width: 100%;
  outline-color: #2196f3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  height: 40px;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}

.modal-block span {
  margin-top: 4px;
  display: block;
  position: relative;
}

.modal-block svg {
  position: absolute;
  left: 15px;
  bottom: 50%;
  transform: translateY(50%);
  height: 18px;
  width: 18px;
  fill: var(--links-text-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-block input:focus + svg {
  fill: #2196f3;
}

textarea {
  margin-top: 4px;
  resize: none;
  height: 120px;
  outline-color: #2196f3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.agree {
  margin-top: 20px;
}

.agree-input {
  margin: 0;
}

.agree-label,
.agree a {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--standart-text);
}

.agree-label {
  color: var(--standart-text);
  display: inline-block;
  /*text-align: center;*/
}

.agree-label::before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  margin-right: 7px;
  height: 15px;
  width: 16px;
  border: 1px solid #000000;
  background-color: #ffffff;
  background-position: 50% 50%;
}

.agree-input:checked + .agree-label::before {
  background-image: url(../img/icon/icon_check.png);
  border: #ffffff;
}

.agree a {
  color: var(--links-text-color-active);
}

/* -- иконки социальных сетей --*/
.icon-block {
  display: inline-flex;
}

.icon-list:not(:first-child) {
  margin-left: 10px;
}

.icon-link {
  /*флекс*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*параметры*/
  height: 44px;
  width: 44px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.icon-link:hover, .icon-link:focus {
  background-color: var(--icon-active-back-color);
}

.footer .icon-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .icon-link:hover, .footer .icon-link:focus {
  background-color: var(--icon-active-back-color);
}

.icon-img {
  height: 20px;
  width: 20px;
  fill: var(--icon-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.icon-link:hover .icon-img,
.icon-link:focus .icon-img {
  fill: #ffffff;
}

.footer .icon-img {
  fill: #ffffff;
}

/*==============BLOCKS=======*/
/* Хедер */
.header {
  border-bottom: 1px solid #ececec;
}

/*-----------НАВИГАТОР ----------*/
.header-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 93px;
  }
}

.header-list:not(:first-child) {
  margin-left: 50px;
}

.header-links {
  display: inline-block;
  position: relative;
  padding: 32px 0;
  /*text*/
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--links-text-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-links:hover, .header-links:focus {
  color: var(--links-text-color-active);
}

.header-links::after {
  position: absolute;
  display: block;
  content: '';
  margin-top: 28px;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: var(--links-text-color-active);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-links:hover::after, .header-links:focus::after {
  opacity: 1;
}

/*-----------*/
.header-address {
  margin-left: auto;
  margin-top: -10px;
}

@media screen and (min-width: 1200px) {
  .header-address {
    display: flex;
  }
}

.header-address-link {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .header-address-link {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-link:not(:first-child) {
    margin-left: 30px;
  }
}

.header-address-img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--standart-text);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-address-link:hover .header-address-img,
.header-address-link:focus .header-address-img {
  fill: var(--links-text-color-active);
}

.header-address-text {
  /*text*/
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--standart-text);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-address-link:hover .header-address-text,
.header-address-link:focus .header-address-text {
  color: var(--links-text-color-active);
}

.burger {
  background-color: transparent;
}

.icon-header {
  width: 40px;
  height: 40px;
  margin-left: auto;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

button:hover .icon-header,
button:focus .icon-header {
  fill: var(--links-text-color-active);
}

@media screen and (min-width: 768px) {
  .icon-header {
    display: none;
  }
}

/* -------Всплывающее окно Хедера--------------*/
.header-modal {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .header-modal {
    display: none;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-modal-list:not(:first-child) {
  margin-top: 32px;
}

.header-modal-links {
  /*text*/
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: var(--links-text-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-modal-links:hover, .header-modal-links:focus {
  color: var(--links-text-color-active);
}

.header-modal-phone-link {
  display: inline-block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.175;
  color: var(--links-text-color-active);
}

.header-modal-address {
  margin-top: auto;
}

.header-modal-address-link {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  margin-top: 32px;
  line-height: 1.17;
  color: var(--standart-text);
}

.header-modal-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-left: -10px;
}

.header-modal-social-list {
  padding: 0 10px;
}

.header-modal-social-list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-modal-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 64px;
  color: var(--links-text-color-active);
}

.icon-x-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 10px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border: 0;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.icon-close-modal {
  height: 40px;
  width: 40px;
}

.icon-x-modal:hover .icon-close-modal,
.icon-x-modal:focus .icon-close-modal {
  fill: var(--icon-active-back-color);
}

/* ==============Основной блок ============*/
/* Блок Hero */
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile.jpg);
  background-color: #2f303a;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 280px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 280px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop@2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop.jpg);
  }
}

/* Блок Особенности */
.features {
  padding: 60px 0 30px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0 17px;
  }
}

@media screen and (min-width: 768px) {
  .features-box {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px 0 -15px;
  }
}

.features-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .features-list {
    margin: 0 15px;
    width: calc(100% / 2 - 15px * 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    width: calc(100% / 4 - 15px * 2);
  }
}

.features-img {
  display: block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.sign {
  width: 70px;
  height: 70px;
}

/*   сделать миксином!!!!!! */
.features p {
  display: block;
  margin-bottom: 30px;
}

/*
  - оставвляю вариант кода,
  для подсказок 
  .features-box li::before {
    display: block;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .features-box li:nth-child(1)::before {
    background-image: url(../img/icon/antenna_1.svg);
  }
  */
/*  Чем мы занимаемся */
.doing {
  padding: 47px 0 94px;
}

@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.doing-box {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.doing-list {
  position: relative;
}

.doing-list:not(:first-child) {
  margin-left: 30px;
}

.doing-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.doing-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* команда */
.team {
  background: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .team {
    padding: 60px 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0 64px;
  }
}

.team-box {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-box {
    margin-top: 50px;
  }
}

.team-list {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: 0 15px 30px 15px;
    width: calc( 100% / 2 - 15px * 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    width: calc( 100% / 4 - 15px * 2);
  }
}

.team-list img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-info {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  align-items: center;
}

.team-name {
  margin: 0;
  padding: 0;
  /*text*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession {
  margin: 10px 0 16px 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Клиенты */
@media screen and (max-width: 1199px) {
  .clients {
    padding: 60px 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0 64px;
  }
}

.clients-box {
  margin-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-box {
    margin-top: 50px;
  }
}

.clients-list {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .clients-list {
    width: calc( 100% / 2 - 15px * 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    width: calc( 100% / 3 - 15px * 2);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    width: calc( 100% / 6 - 15px * 2);
  }
}

.clients-link {
  display: block;
  height: 90px;
  width: 100%;
  padding: 0;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 22px;
  text-align: center;
  background-color: #ffffff;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--icon-active-back-color);
}

.clients-img {
  fill: var(--icon-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.clients-link:hover .clients-img,
.clients-link:focus .clients-img {
  fill: var(--icon-active-back-color);
}

/* ========= Портфолио ========= */
.projects {
  padding: 60px 0 30px;
}

@media screen and (min-width: 1200px) {
  .projects {
    padding: 94px 0 64px;
  }
}

/* кнопки */
.button-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.button-list {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 15px;
}

.button-link {
  display: inline-block;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  /*text*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--links-text-color);
  background-color: #f5f4fa;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.button-link:hover, .button-link:focus {
  /*text*/
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* проекты */
.projects-block {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .projects-block {
    margin-top: 50px;
  }
}

.projects-name {
  margin: 0 15px 30px 15px;
  background: #ffffff;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projects-name {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .projects-name {
    width: calc(100% / 3 - 30px);
  }
}

.project-link {
  display: block;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.projects-name-img {
  position: relative;
  overflow: hidden;
}

.projects-name-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.projects-name-index {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-block .titul-two {
  /*text*/
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  margin: 4px 0 0 0;
  /*text*/
  font-size: 16px;
  line-height: 1.88;
  color: var(--standart-text);
}

.open {
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 100%;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.project-link:hover .open,
.project-link:focus .open {
  transform: translateY(-100%);
}

.project-description {
  /*шрифт*/
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

/* футер адрес */
.footer {
  background-color: #2f303a;
}

.footer-box {
  display: flex;
  padding: 0 0 60px 0;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-box {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    justify-content: space-between;
    text-align: start;
  }
}

.footer-box-left {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-box-left {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box-left {
    justify-content: start;
  }
}

.footer-address-block {
  margin-top: 60px;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-address-text {
  color: #ffffff;
  font-weight: 400;
}

.footer-address-text:not(:first-child) {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-address-text:not(:first-child) {
    margin-top: 9px;
  }
}

.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
}

/* Футер Присоединяйтесь */
.action {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .action {
    margin-top: 72px;
    margin-left: 70px;
  }
}

.footer-appeal {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* футер подпишись*/
.letter {
  margin-top: 60px;
  display: block;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .letter {
    margin-top: 72px;
    margin-left: auto;
  }
}

.letter-box {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .letter-box {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.letter-form {
  margin: 0 0 20px 0;
  position: relative;
  display: block;
  overflow: hidden;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .letter-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .letter-form {
    width: 358px;
  }
}

.letter-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.letter-text {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  /*шрифт*/
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.letter-form:focus-within > .letter-text,
.letter-input:not(:placeholder-shown) + .letter-text {
  transform: translateY(-50px);
}

/*
.letter-form:focus > input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}*/
/*# sourceMappingURL=main.css.map */