/* ------------  КНОПКИ -------------------*/
.button-all {
  /*display: inline-block;*/
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*text*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;

  .hero & {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer & {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px){
      margin-left: 12px;
    }
  }
}

.button-all-img {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

/* ------------ ЗАГОЛОВКИ -------------------*/

.titul-one {
  margin: 0 auto;
  max-width: 360px;
  /*text*/
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--text-hero);

  @media screen and (min-width: 1200px){
    font-size: 44px;
    line-height: 1.36;
    max-width: 700px;
  }

  .projects &{
    display: none;
  }

}

.titul-two {
  margin: 0;
  /*text*/
  color: var(--h2-h4-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  .features & {
    display: none;
  }

}

.titul-three {
  margin: 0;
  /*text*/
  color: var(--h2-h4-text-color);
  font-weight: 700;

  .features & {
    margin: 30px 0 10px;
    /*text*/
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
  }
}
  
/* -------------  ЛОГО -----------------*/
.logo {

  /*text*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
  
.logo-text {
  color: #000000;

  footer & {
    color: #ffffff;
  }  
}
  
/* ----- Кнопка закрытия модального окна -------------*/
  
.icon-x {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.icon-x svg {
  height: 11px;
  width: 11px;
}

.icon-x:hover svg,
.icon-x:focus svg {
  fill: var(--icon-active-back-color);
}
